@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform scaleY(.5)
      transform scaleY(.5)
  .file-image-mark
    background-image url("../../imgs/rps_mark@2x.png")
  .file-big-image-mark
    background-image url("../../imgs/rps_big_mark@2x.png")
  .file-image-pdf
    background-image url("../../imgs/rps_pdf@2x.png")
  .file-big-image-pdf
    background-image url("../../imgs/rps_big_pdf@2x.png")
  .file-image-pic
    background-image url("../../imgs/rps_pic@2x.png")
  .file-big-image-pic
    background-image url("../../imgs/rps_big_pic@2x.png")
  .file-image-rar
    background-image url("../../imgs/rps_rar@2x.png")
  .file-big-image-rar
    background-image url("../../imgs/rps_big_rar@2x.png")
  .file-image-word
    background-image url("../../imgs/rps_word@2x.png")
  .file-big-image-word
    background-image url("../../imgs/rps_big_word@2x.png")
  .file-image-xls
    background-image url("../../imgs/rps_xls@2x.png")
  .file-big-image-xls
    background-image url("../../imgs/rps_big_xls@2x.png")

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
  .border-1px
    &::after
      -webkit-transform scaleY(.33333)
      transform scaleY(.333333)
  .file-image-mark
    background-image url("../../imgs/rps_mark@3x.png")
  .file-big-image-mark
    background-image url("../../imgs/rps_big_mark@3x.png")
  .file-image-pdf
    background-image url("../../imgs/rps_pdf@3x.png")
  .file-big-image-pdf
    background-image url("../../imgs/rps_big_pdf@3x.png")
  .file-image-pic
    background-image url("../../imgs/rps_pic@3x.png")
  .file-big-image-pic
    background-image url("../../imgs/rps_big_pic@3x.png")
  .file-image-rar
    background-image url("../../imgs/rps_rar@3x.png")
  .file-big-image-rar
    background-image url("../../imgs/rps_big_rar@3x.png")
  .file-image-word
    background-image url("../../imgs/rps_word@3x.png")
  .file-big-image-word
    background-image url("../../imgs/rps_big_word@3x.png")
  .file-image-xls
    background-image url("../../imgs/rps_xls@3x.png")
  .file-big-image-xls
    background-image url("../../imgs/rps_big_xls@3x.png")